/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 80px;
      text-align: center;
    }

    .top-wrapper p {
      font-size: 35px;
      text-align: center;
    }

    .Gambar{
      max-width: 20%;
      display: block;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }

  .btn{
    width: 50%;
  }

  .form-control{
    width: 70%;

  }

  .form-pesan{
    width: 70%;
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 780px) {
    .lesson {
      width: 100%;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
   label #btn{
    display: block;
   }

   ul{
    position: fixed;
    width:100%;
    margin-right: 0;
    right: -100%;
    top:80px;
    background-color: rgb(10, 56, 65);
    text-align: center;
    transition:.5s ;
   }

   ul li{
    display: block;
    line-height: 10px;
    margin: 50px 0;
    color:black
   }

   ul li a :hover{
    border-radius: 0px;
   }

   #check:checked ~ ul{
    right: 0;
   }
  
    #check:checked ~ label #btn{
      display: none;
    }

    #check:checked ~ label #close{
      display: block;
    }
    .top-wrapper h1 {
      font-size: 65px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 30px;
      line-height: 20px;
    }

    .form-control{
      width: 50%;
    }

    .form-pesan{
      width:50%;
    }

    .btn{
      width: 30%;
    }
  }
